<!-- <app-navbar></app-navbar>

<div *ngIf="loading; then thenBlock else myelseBlock"></div>

<ng-template #thenBlock>
    <app-loading></app-loading>
</ng-template>

<ng-template #myelseBlock>

    <div *ngIf="empty; else elseBlock">
        <div style="margin-top: 50px;" class="d-flex justify-content-center">
          <div class="row">
            <div class="col-6">
              <h5 class="text-capitalize m-lg-5">Seems Like Empty Data!!!!</h5>
              <h5 class="text-capitalize m-lg-5">Not found any Student</h5>
            </div>
            <div class="col-6">
              <img src="../../../assets/img/empty.svg" alt="" class="img-fluid ">
            </div>
          </div>
  
  
        </div>
    </div>



</ng-template> -->
