<app-navbar-supervisor></app-navbar-supervisor>

<div *ngIf="loading; then thenBlock else myelseBlock"></div>

<ng-template #thenBlock>
    <app-loading></app-loading>
</ng-template>

<ng-template #myelseBlock>

    <div *ngIf="empty; else elseBlock">
        <div style="margin-top: 50px;" class="d-flex justify-content-center">
          <div class="row">
            <div class="col-6">
              <h5 class="text-capitalize m-lg-5">Seems Like Empty Data!!!!</h5>
              <h5 class="text-capitalize m-lg-5">Not found any Student</h5>
            </div>
            <div class="col-6">
              <img src="../../../assets/img/empty.svg" alt="" class="img-fluid ">
            </div>
          </div>
  
  
        </div>
    </div>

    <ng-template #elseBlock>
        <table class="table table-hover w-50"
          style="background-color: white; margin-top: 100px;  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.5);">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">E-mail</th>
              <th scope="col">Block</th>
              <th scope="col">Unblock</th>
  
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users;index as i">
              <th scope="row">{{i+1}}</th>
              <td>{{user.email}}</td>
              <td>
                <button mat-raised-button color="primary" [disabled]="user.blocked">Activo</button>
              </td>
              <td>
                <button mat-flat-button color="warn" [disabled]="!user.blocked">Desactivado</button>
              </td>
  
            </tr>
  
          </tbody>
        </table>
    </ng-template>

</ng-template>
